In [138]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

In [139]:
data1 = pd.read_csv("data-world-happiness/2015.csv")
data2 = pd.read_csv("data-world-happiness/2016.csv")
data3 = pd.read_csv("data-world-happiness/2017.csv")
data4 = pd.read_csv("data-world-happiness/2018.csv")
data5 = pd.read_csv("data-world-happiness/2019.csv")

In [140]:
data1 = data1.assign(Year = 2015)
data2 = data2.assign(Year = 2016)
data3 = data3.assign(Year = 2017)
data4 = data4.assign(Year = 2018)
data5 = data5.assign(Year = 2019)

In [141]:
data1 = data1.drop(["Standard Error", "Dystopia Residual"], 1)
data2 = data2.drop(["Dystopia Residual", "Lower Confidence Interval", "Upper Confidence Interval"], 1)
data3 = data3.drop(["Dystopia.Residual", "Whisker.high", "Whisker.low"], 1)

In [142]:
data3.rename(columns = {'Happiness.Rank':'Happiness Rank',
                        'Happiness.Score':'Happiness Score',
                        'Trust..Government.Corruption.':'Trust (Government Corruption)',
                        'Health..Life.Expectancy.':'Health (Life Expectancy)',
                        'Economy..GDP.per.Capita.':'Economy (GDP per Capita)'
                       }, inplace = True)

data4.rename(columns = {'Country or region':'Country',
                        'Score':'Happiness Score',
                        'GDP per capita':'Economy (GDP per Capita)',
                        'Healthy life expectancy':'Health (Life Expectancy)',
                        'Perceptions of corruption':'Trust (Government Corruption)',
                        'Freedom to make life choices':'Freedom',
                        'Overall rank':'Happiness Rank',
                        'Social support':'Family'
                       }, inplace = True)

data5.rename(columns = {'Country or region':'Country',
                        'Score':'Happiness Score',
                        'GDP per capita':'Economy (GDP per Capita)',
                        'Healthy life expectancy':'Health (Life Expectancy)',
                        'Perceptions of corruption':'Trust (Government Corruption)',
                        'Freedom to make life choices':'Freedom',
                        'Overall rank':'Happiness Rank',
                        'Social support':'Family'
                       }, inplace = True)

In [143]:
data3=pd.merge(data3, data1[["Country", "Region"]], how="left", on="Country")
data4=pd.merge(data4, data1[["Country", "Region"]], how="left", on="Country")
data5=pd.merge(data5, data1[["Country", "Region"]], how="left", on="Country")

In [144]:
merged_df= pd.DataFrame()
merged_df = pd.concat([merged_df, data1], sort='False')
merged_df = pd.concat([merged_df, data2], sort='False')
merged_df = pd.concat([merged_df, data3], sort='False')
merged_df = pd.concat([merged_df, data4], sort='False')
merged_df = pd.concat([merged_df, data5], sort='False')

merged_df.isna().sum()/len(merged_df)

Country                          0.000000
Economy (GDP per Capita)         0.000000
Family                           0.000000
Freedom                          0.000000
Generosity                       0.000000
Happiness Rank                   0.000000
Happiness Score                  0.000000
Health (Life Expectancy)         0.000000
Region                           0.024297
Trust (Government Corruption)    0.001279
Year                             0.000000
dtype: float64

In [149]:
merged_df.Region.isna().sum()

19

In [163]:
merged_df[merged_df.Region.isna()][["Country", "Region"]]

                      Country Region
32   Taiwan Province of China    NaN
49                     Belize    NaN
70    Hong Kong S.A.R., China    NaN
92                    Somalia    NaN
110                   Namibia    NaN
146               South Sudan    NaN
37          Trinidad & Tobago    NaN
48                     Belize    NaN
57            Northern Cyprus    NaN
97                    Somalia    NaN
118                   Namibia    NaN
153               South Sudan    NaN
38          Trinidad & Tobago    NaN
63            Northern Cyprus    NaN
83            North Macedonia    NaN
111                   Somalia    NaN
112                   Namibia    NaN
119                    Gambia    NaN
155               South Sudan    NaN

In [159]:
regions={"Country":["Taiwan Province of China","Hong Kong S.A.R., China","South Sudan","Namibia","Belize","Trinidad & Tobago","Northern Cyprus","North Macedonia","Gambia","Somalia"],
"Region":["Eastern Asia","Eastern Asia","Sub-Saharan Africa","Sub-Saharan Africa","Latin America and Caribbean","Latin America and Caribbean","Western Europe", "Central and Eastern Europe", "Sub-Saharan Africa","Sub-Saharan Africa"]}
df_regions = pd.DataFrame(data=regions)
df_regions

                    Country                       Region
0  Taiwan Province of China                 Eastern Asia
1   Hong Kong S.A.R., China                 Eastern Asia
2               South Sudan           Sub-Saharan Africa
3                   Namibia           Sub-Saharan Africa
4                    Belize  Latin America and Caribbean
5         Trinidad & Tobago  Latin America and Caribbean
6           Northern Cyprus               Western Europe
7           North Macedonia   Central and Eastern Europe
8                    Gambia           Sub-Saharan Africa
9                   Somalia           Sub-Saharan Africa

In [151]:
regions={
    "Somalia": "Sub-Saharan Africa",
    "South Sudan": "",
    
}

In [152]:
regions

{'Somalia': 'Sub-Saharan Africa', 'South Sudan': ''}

In [33]:
def test(text):
    return regions[test]

In [158]:
merged_df.Region.unique()

array(['Western Europe', 'North America', 'Australia and New Zealand',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Southeastern Asia', 'Central and Eastern Europe', 'Eastern Asia',
       'Sub-Saharan Africa', 'Southern Asia', nan], dtype=object)

In [164]:
merged_df.head()

,Country,Economy (GDP per Capita),Family,Freedom,Generosity,Happiness Rank,Happiness Score,Health (Life Expectancy),Region,Trust (Government Corruption),Year
0,Switzerland,1.39651,1.34951,0.66557,0.29678,1,7.587,0.94143,Western Europe,0.41978,2015
1,Iceland,1.30232,1.40223,0.62877,0.43630,2,7.561,0.94784,Western Europe,0.14145,2015
2,Denmark,1.32548,1.36058,0.64938,0.34139,3,7.527,0.87464,Western Europe,0.48357,2015
3,Norway,1.45900,1.33095,0.66973,0.34699,4,7.522,0.88521,Western Europe,0.36503,2015
4,Canada,1.32629,1.32261,0.63297,0.45811,5,7.427,0.90563,North America,0.32957,2015

In [173]:
datax=pd.merge(merged_df, df_regions, how="inner", on=["Country", "Region"])

In [174]:
datax.Region.isna().sum()

0

In [176]:
datax[datax.Country=="Gambia"]

Empty DataFrame
Columns: [Country, Economy (GDP per Capita), Family, Freedom, Generosity, Happiness Rank, Happiness Score, Health (Life Expectancy), Region, Trust (Government Corruption), Year]
Index: []

In [ ]:
S